.box{
    width: 100%;
    height: 100vh;
    background:linear-gradient( rgba(94, 226, 17, 0.182), rgba(226, 226, 226, 0.655)), url('../../assets/page1-img.jpg');
    background-position: top;
    background-size: cover ;
    background-repeat: no-repeat;
}

.content{
    padding: 15rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h1{
    font-size: 5rem;
    color: #222222;
    font-family: "Rubik Wet Paint", system-ui;
    text-align: center;
}
.content p{
    padding:0 10rem ;
    font-size:15px;
    font-weight:bolder;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #222222;
}

@media (max-width: 1024px) {
    .content {
      padding: 10rem 5rem;
    }
  
    .content h1 {
      font-size: 4rem;
    }
  
    .content p {
      padding: 0 5rem;
      font-size: 14px;
    }
  }
  
  /* Mobile view adjustments */
  @media (max-width: 768px) {
    .content {

      padding: 5rem 2rem;
      padding-top: 10rem;
    }
  
    .content h1 {
      font-size: 3rem;
    }
  
    .content p {
      padding: 0 2rem;
      font-size: 13px;
    }
  }